.navigation {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0;
}

.tableContainer {
  margin: 20px auto 0;
  box-shadow: none;
  border-radius: 8px;
}

@media only screen and (max-width: 599px) {
  .navigation {
    flex-direction: column-reverse;
    gap: 15px;
  }
}
